<ActionBar class="action-bar">
    <ActionItem (tap)="saveTask()"
                ios.systemIcon="3"
                ios.position="right"
                android.systemIcon="ic_menu_save"
                android.position="actionBar"></ActionItem>
    <Label class="action-bar-title" text="Create Task"></Label>
</ActionBar>
<StackLayout>
    <Label *ngIf="action.success !== null" [ngClass]="action.label" class="message-header" [text]="action.text"></Label>
    <ScrollView orientation="vertical">
        <StackLayout orientation="vertical">
            <DockLayout stretchLastChild="false">
                <Label text="Start" dock="left" width="35%" class="lbl-highlighted"></Label>
                <TimePicker [hour]="startHour" [minute]="startMinute" (loaded)="onPickerLoaded($event)" verticalAlignment="center"></TimePicker>
            </DockLayout>
            <DockLayout stretchLastChild="false">
                <Label text="End" dock="left" width="35%" class="lbl-highlighted"></Label>
                <TimePicker [hour]="stopHour" [minute]="stopMinute" (loaded)="onPickerLoaded($event)" verticalAlignment="center"></TimePicker>
            </DockLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>


